body {
  font-size: 14px;
  line-height: 1.3;
  color: $default;
  @extend %mont-400;
}

.container {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  max-width: 327px;
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  @extend %mont-800;
  color: $white;
  background: linear-gradient(90deg, #5E3928, #E4A16F);
}





@media (max-width: 1366px) {}

@media (max-width: 1024px) {}

@media (max-width: 880px) {}

@media (max-width: 660px) {}

@media (max-width: 375px) {}